@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  font-family: "Work Sans", sans-serif;
}

.header-top {
  background: white;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.main-container {
  width: 79%;
  margin: auto;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  width: 30%;
}

.logo img {
  width: 45px;
  margin-right: 15px;
}

.logo h2 {
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.4s;
}

.logo h2:hover,
.logo h2:active {
  color: grey;
  cursor: pointer;
}

.middle-nav {
  width: 60%;
}

.middle-nav ul li {
  position: relative;
  margin: 0 20px;
  font-size: 16px;
  transition: 0.4s;
  letter-spacing: 1px;
  height: 50px;
  line-height: 50px;
}

.middle-nav ul li ul {
  position: absolute;
  left: 0;
  top: 100%;
  width: 240px;
  background: #fff;
  list-style: none;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  transform: scaleY(0);
  transform-origin: top center;
}

.middle-nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  margin-top: 5px;
  transform: scaleY(1);
}

.middle-nav ul li a {
  transition: 0.4s;
}

.middle-nav ul li a:hover,
.middle-nav ul li a:active {
  color: #647adb;
}

a {
  text-decoration: none;
  color: black;
}

.last-nav {
  width: 10%;
}

.last-nav a {
  padding: 10px 28px;
  border: 2px solid #647adb;
  border-radius: 5px;
  color: #647adb;
  font-weight: 700;
  transition: 0.4s;
}

.last-nav a:hover,
.last-nav a:active {
  background: #647adb;
  color: #fff;
  box-shadow: 0 0 20px 1px #8391cf;
}

.list {
  display: flex;
  list-style: none;
}

.mid-content {
  background: url(images/mbr-4.jpg) center center / cover no-repeat;
  padding: 133px 0;
  text-align: center;
  position: relative;
  z-index: 1;
  color: white;
  margin-top: 70px;
}

.mid-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.mid-content h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

.mid-content h1 {
  font-size: 3.6rem;
  line-height: 1.1;
  margin: 2.8rem;
}

.default-btn {
  display: inline-block;
  background: white;
  color: grey;
  padding: 20px 30px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 5px;
  margin: 0 10px;
  transition: 0.4s;
}

.default-btn:hover {
  background: #647adb;
  color: #fff;
}

a.default-btn:focus {
  background-color: #000000;
  border-color: #000000;
  color: #7d7d7d;
  outline: none;
}

.vid {
  padding: 100px 0;
  background: #f7f9ff;
}

.video-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-content {
  margin-left: 60px;
  vertical-align: middle;
}

.text-content h1 {
  font-size: 2.8rem;
  line-height: 1.4;
  font-weight: 400;
  width: 90%;
}

.text-content p {
  color: #767677;
  margin-top: 30px;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
}

/* application css start */
.application {
  padding: 5rem 0;
}

.application-top {
  text-align: center;
  margin-bottom: 70px;
}

.application-top h1 {
  font-size: 3.6rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.application-top span {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #767677;
}

.application-boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #fafafd;
}

.sigle-box {
  width: 31%;
  padding: 3rem 2rem;
  background: #fff;
  margin: 15px;
  min-width: 368px;
}

.sigle-box:hover {
  box-shadow: 1px 1px 10px 2px #d3d9f34f;
}

.s-icon {
  vertical-align: middle;
}

.s-icon i {
  float: left;
  font-size: 3rem;
  margin-right: 20px;
  min-height: 180px;
  color: #647adb;
}

.h-content {
  vertical-align: middle;
}

.h-content h3 {
  font-size: 1.6rem;
  line-height: 1.5;
}

.h-content p {
  font-size: 1.3rem;
  line-height: 1.5;
  padding-top: 1.5rem;
  color: #767677;
}

/****Card CSS ****/

.card {
  background: #f7f9ff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.card-heading {
  text-align: center;
  padding: 30px 0;
}

.card-heading h1 {
  font-size: 3.6rem;
  font-weight: 400;
}

.card-heading h4 {
  font-size: 1.6rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  font-weight: 300;
  color: #767676;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.card-main {
  background: white;
  margin: 0 10px;
  width: 415px;
  transition: 0.5s;
}

.card-main hr {
  border-top: 1px solid #e4e4e4;
}

.card-top {
  padding: 2rem 2rem 1rem 2rem;
}

.card-top h3 {
  font-size: 1.6rem;
  padding-top: 10px;
  font-weight: 500;
}

.card-top h4 {
  font-size: 1.3rem;
  padding: 2rem 0;
}

.card-top h4 span {
  font-size: 3.6rem;
  letter-spacing: 5px;
}

.card-top-alt {
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

.card-top p {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
  width: 85%;
  padding-bottom: 0.5rem;
}

.card-list {
  padding: 2.5rem 2rem;
}

.card-list li {
  list-style: none;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
  padding: 1rem 0;
}

.card-list li i {
  color: #6278df;
  min-width: 35px;
  font-size: 2rem;
  margin-right: 1rem;
}

.card-btn {
  padding: 0 2rem 4rem 2rem;
  text-align: center;
}

.card-btn a {
  display: block;
  background: none;
  padding: 1rem 6.5rem;
  border-radius: 6px;
  color: #6278df;
  font-size: 1.3rem;
  line-height: 1.5;
  box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.2);
  font-weight: 700;
  transition: 0.5s;
}

.card-btn .fork:hover {
  background: black;
  color: white;
}

.card-main:hover .card-top,
.card-main:hover a {
  background: #647adb;
  color: white;
}

/**** Team Css ****/
.team {
  padding: 75px 0;
  background: #ffffff;
}

.team-header {
  text-align: center;
}

.team-header h1 {
  font-size: 2.8rem;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.team-boxes {
  display: flex;
  justify-content: space-evenly;
  background: #f9f9fd;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.team-box img {
  width: 300px;
  height: 300px;
  filter: grayscale(100%);
  min-width: 200px;
  padding: 10px;
  border: 3px solid #6279df1e;
  transition: 0.3s;
}

.team-box:hover img,
.team-box:active img {
  filter: grayscale(0%);
  box-shadow: 3px 3px 10px -3px #8191da67;
  cursor: pointer;
}

.team-box-desc {
  padding: 2rem 1rem;
  background: #ffffff;
}

.team-box-desc h3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
}

.team-box-desc h4 {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #767676;
  font-weight: 300;
}

/**** Newsletter CSS ****/
.newsletter {
  padding: 5rem 0;
  background: #f7f9ff;
  text-align: center;
}

.news-header h3 {
  color: #767676;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
}

.news-header h2 {
  font-size: 2.8rem;
  line-height: 1.4;
  padding-top: 2rem;
  font-weight: 400;
}

.news-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.news-form input {
  color: #232323;
  border: 2px solid #e4e4e4;
  padding: 19px 24px;
  border-radius: 6px;
  box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 300;
  margin-right: 20px;
  width: 343px;
  transition: 0.5s;
}

.news-form a {
  background-color: #6278df;
  /* border-color: #6278df; */
  color: #ffffff;
  padding: 15px 83px;
  border-radius: 6px;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 600;
  border: 2px solid #6278df;
  transition: 0.5s;
}

.news-form input:focus {
  border-color: #6278df;
  box-shadow: 3px 3px 27px -3px #6278df;
  outline: none;
}

.news-form a:hover,
.news-form a:active {
  background-color: white;
  color: #6278df;
  border-color: #6278df;
  box-shadow: 3px 3px 27px -3px #6278df;
}

.news-form a:focus {
  background-color: black;
  color: white;
}

/**** What's New CSS ****/

.whats {
  padding: 5rem 0;
}

.what-box-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 4rem;
  flex-wrap: wrap;
}

.what-box-upper h2 {
  font-size: 2.8rem;
  line-height: 1.4;
  font-weight: 500;
  flex-basis: 48%;
  color: #000000;
  min-width: 250px;
}

.what-box-upper p {
  font-size: 1.3rem;
  line-height: 1.5;
  flex-basis: 48%;
  padding-right: 20px;
  font-weight: 400;
  color: #767676;
  min-width: 250px;
}

.what-box-lower {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.what-img {
  width: 330px;
  height: 220px;
  min-width: 150px;
}

.what-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.what-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  min-width: 150px;
  padding: 30px;
}

.what-desc h3 {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 500;
  align-self: flex-start;
}

.what-desc p {
  font-size: 1.3rem;
  line-height: 1.5;
  padding-top: 1rem;
  font-weight: 300;
  color: #767676;
}

/**** Feedback CSS ****/

.feedback {
  background-color: #f7f9ff;
  padding: 60px 0;
}

.feed-header {
  text-align: center;
}

.feed-header h3 {
  font-size: 1.6rem;
  line-height: 1.5;
  padding-bottom: 1rem;
  font-weight: 300;
  color: #767676;
}

.feed-header h2 {
  font-size: 2.8rem;
  line-height: 1.4;
  padding-bottom: 3rem;
  font-weight: 400;
}

.feed-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 20px;
}

.single-feed-box {
  padding: 3.7rem 3rem;
  background: white;
  margin: 0 20px;
  box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
  position: relative;
}

.single-feed-box::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #ffffff transparent transparent transparent;
}

.single-feed-box i {
  position: absolute;
  left: 50px;
  top: 30px;
  font-size: 5.1rem;
  color: #cccccc;
  opacity: 0.3;
}

.single-feed-box p {
  color: #767676;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
}

.single-feed-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-basis: 33.33%;
  min-width: 300px;
}

.single-testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.single-test-img img {
  width: 9rem;
  padding: 0 2rem;
  border-radius: 100%;
}

.single-test-desc h3 {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 500;
}

.single-test-desc h4 {
  color: #767676;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}

/****Contact Form CSS ****/

.contact {
  padding: 3rem 0;
}

.contact-wrapper {
  height: 774px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.map iframe {
  border-radius: 10px;
}

.contact-form {
  height: 774px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-header h3 {
  font-size: 1.6rem;
  line-height: 1.5;
  padding-bottom: 1rem;
  font-weight: 500;
}

.form-header p {
  color: #767676;
  font-size: 1.3rem;
  line-height: 1.5;
  padding-bottom: 3rem;
  font-weight: 300;
}

.f-mail {
  width: 526px;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
  color: #767676;
  border: 2px solid #e4e4e4;
  border-radius: 6px;
  padding: 1.5rem;
  margin: 0.5rem;
  box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 300;
}

.f-mail:focus {
  border-color: #6278df;
  box-shadow: 3px 3px 27px -3px #6278df;
  outline: none;
}

.f-name {
  width: 253px;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
  color: #767676;
  border: 2px solid #e4e4e4;
  border-radius: 6px;
  padding: 1.5rem;
  margin: 0.5rem;
  box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 300;
}

.f-name:focus {
  border-color: #6278df;
  box-shadow: 3px 3px 27px -3px #6278df;
  outline: none;
}

.f-messaage {
  width: 526px;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
  color: #767676;
  border: 2px solid #e4e4e4;
  border-radius: 6px;
  padding: 1.5rem;
  margin: 0.5rem;
  box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 300;
}

.f-messaage:focus {
  border-color: #6278df;
  box-shadow: 3px 3px 27px -3px #6278df;
  outline: none;
}

.f-submit {
  width: 526px;
  background-color: #6278df;
  border-color: #6278df;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 6px;
  transition: all 0.3s;
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0.4rem 0.8rem;
  font-weight: 600;
  border-width: 2px;
  outline: none;
}

.f-submit:hover {
  background-color: white;
  color: rgb(98, 120, 223);
  box-shadow: rgb(98, 120, 223) 3px 3px 27px -3px;
  border-color: rgb(98, 120, 223);
  cursor: pointer;
}

.f-submit:active {
  background-color: #000000;
  border-color: #000000;
  color: #7d7d7d;
  outline: none;
}

/**** Footer CSS ****/

.footer {
  padding: 2rem 0;
}

.footer-cns p {
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
}
